body {
    font-family: 'Rock Salt';
    padding-left: 30%;
    padding-right: auto;
    padding-top: 5%;
    /* background-color: #BDC3C7; */
    background:
        url("/Users/kntiller/Desktop/madis_background.jpg") center;
}
 
.calculator {
    display: flex;
    flex-direction: column;
    max-width: 32rem;
    /* background-color:; */
    border: 10px solid #5B1F98;
    margin: 2px;
    padding: 3px;
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(247, 249, 249, 1 );
}

.calc-keys {
    display: flex;
    height:100px;
}

.button-clear {
    width: 25%;
}

form {
    width: 75%;
    border: 1px solid;
}

.displayscreen {
    height: 90px;
    width: 98%;
    font-size: 2rem;
    text-align: center;
}

button {
    /* font-family: 'Press Start 2P'; */
    font-family: 'Anton';
    font-size: 2rem;
    padding: 1rem;
    margin: 2px;
    width: 25%;
    height: auto;
    text-shadow: .75px .75px #6E08B0;
    color: #D9BDF5;
    background-color: #7A00FC;
    box-shadow: 0px 2px 2px 1px rgba( 41, 19, 63, 0.4 );
}
